<div class="row mt-5">
  <div class="col-md-5 m-auto">
    <div class="card card-body ">
      <h1 class="text-center mb-4">Login</h1>
      
      <form action="/users/login" method="POST">
        <div class="mb-4 mx-auto mt-2 row d-flex justify-content-center">
          <label for="email" class="col-sm-4 col-form-label text-center">Email</label>
          <div class="col-sm-7">
            <input type="email" name="email" id="email" class="form-control " placeholder="Enter Email">
          </div>
        </div>

        <div class="mb-5 mx-auto row d-flex justify-content-center">
          <label for="password" class="col-sm-4 col-form-label text-center">password</label>
          <div class="col-sm-7">
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary mb-2" type="summit">Login</button>
          <a href="/users/facebook" class="btn btn-info mb-2">Facebook Login</a>
        </div>
      </form>
      <p class="lead mt-4 ms-4">No Account? <a href="/users/register">Register</a></p>
    </div>
  </div>
</div>